        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        body {
            margin: 0;
            padding: 0;
            font-family: Poppins, sans-serif;
            background-color: #000000;
            color: #fff;
        }
        
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            border-bottom: 2px solid #f0e68c;
            margin: 30px;
            margin-top: -20px;
            margin-bottom: 10px;
            /* yellow line */
        }
        
        .logo {
            padding-top: -10px;
        }
        
        .logo img {
            cursor: pointer;
            transition: 1s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -ms-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
        }
        
        .logo img:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .selectors {
            display: flex;
        }
        
        .nav-links {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        .nav-links a:hover {
            color: #ffd700;
            transition: 0.8s ease-in-out;
            -webkit-transition: 0.8s ease-in-out;
            -moz-transition: 0.8s ease-in-out;
            -ms-transition: 0.8s ease-in-out;
            -o-transition: 0.8s ease-in-out;
            text-decoration: underline;
        }
        
        .nav-link {
            margin: 0 10px;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            display: flex;
            font-size: 1.6rem;
        }
        
        .nav-link p {
            display: flex;
            font-size: 1.6rem;
        }
        
        .searcher {
            height: 3rem;
            width: 3rem;
            background-color: #fff;
            border-radius: 50%;
            border: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
        }
        
        .searcher img {
            height: 2rem;
            width: auto;
            justify-content: center;
            text-align: center;
            padding: 10px;
        }
        
        .searcher:hover {
            background-color: #f0e68c;
            transform: scale(1.05);
            /* yellow */
        }
        
        .searcher {}
        
        .nav-links button i {
            color: #000;
        }
        
        .connect-wallet {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }
        
        .connect-button {
            background-color: #fff;
            color: #000;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 60px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            -o-border-radius: 60px;
            font-size: 1.3rem;
        }
        
        .connect-button:hover {
            background-color: #f0e68c;
            /* yellow */
        }
        
        @media (max-width: 768px) {
            .nav-links {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 60px;
                right: 20px;
                background-color: #000;
                padding: 20px;
                border-radius: 5px;
                gap: 10px;
            }
            .nav-links.open {
                display: flex;
            }
            .nav-icon {
                display: block;
            }
            .hamburger.open {
                transform: rotate(45deg);
            }
            .hamburger.open::before {
                transform: rotate(90deg);
                top: 0;
            }
            .hamburger.open::after {
                transform: rotate(90deg);
                top: 0;
            }
        }
        
        .hero-container {
            display: flex;
            height: 100vh;
            background-color: #202020;
            padding: 3.4rem;
            margin: 1.2rem;
        }
        
        .hero-content {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        
        .hero-content h1 {
            font-size: 48px;
            font-weight: bold;
            margin: 0;
            line-height: 1.2;
        }
        
        .hero-image {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #1A1A1A;
            width: 100%;
        }
        
        .grid {
            display: flex;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 7px;
        }
        
        .grid-item1 {
            background-color: #AEA235;
            width: 154px;
            height: 219px;
            /*Gold*/
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
            transition: 1s;
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            flex: 1;
        }
        
        .grid-item2 {
            background-color: #AEA235;
            width: 154px;
            height: 219px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
            flex: 1;
        }
        
        .grid-item3 {
            background-color: #AEA235;
            width: 154px;
            height: 82px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item4 {
            background-color: #DAA520;
            width: 154px;
            height: 120px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item5 {
            background-color: #DAA520;
            width: 154px;
            height: 200px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item6 {
            background-color: #DAA520;
            width: 154px;
            height: 200px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item7 {
            background-color: #AEA235;
            width: 154px;
            height: 180px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item8 {
            background-color: #AEA235;
            width: 154px;
            height: 200px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item9 {
            background-color: #AEA235;
            width: 154px;
            height: 140px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item10 {
            background-color: #DAA520;
            width: 74px;
            height: 250px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item11 {
            background-color: #DAA520;
            width: 74px;
            height: 200px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        .grid-item12 {
            background-color: #DAA520;
            width: 74px;
            height: 70px;
            border: 2px solid #000;
            position: relative;
            margin-top: 7px;
        }
        
        @keyframes gridItemAnimation {
            0% {
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }
            50% {
                transform: translateY(10px);
                -webkit-transform: translateY(10px);
                -moz-transform: translateY(10px);
                -ms-transform: translateY(10px);
                -o-transform: translateY(10px);
            }
            100% {
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }
        }
        
        .grid-item1,
        .grid-item2,
        .grid-item3,
        .grid-item4,
        .grid-item5,
        .grid-item6,
        .grid-item7,
        .grid-item8,
        .grid-item9,
        .grid-item10,
        .grid-item11,
        .grid-item12 {
            animation: gridItemAnimation 5s ease-in-out infinite;
            -webkit-animation: gridItemAnimation 5s ease-in-out infinite;
        }
        
        .grid-item1 {
            animation-delay: 0s;
        }
        
        .grid-item2 {
            animation-delay: 0.5s;
        }
        
        .grid-item3 {
            animation-delay: 1s;
        }
        
        .grid-item4 {
            animation-delay: 1.5s;
        }
        
        .grid-item5 {
            animation-delay: 2s;
        }
        
        .grid-item6 {
            animation-delay: 2.5s;
        }
        
        .grid-item7 {
            animation-delay: 3s;
        }
        
        .grid-item8 {
            animation-delay: 3.5s;
        }
        
        .grid-item9 {
            animation-delay: 4s;
        }
        
        .grid-item10 {
            animation-delay: 4.5s;
        }
        
        .grid-item11 {
            animation-delay: 5s;
        }
        
        .grid-item12 {
            animation-delay: 5.5s;
        }
        
        .grid-item1:hover {
            background-color: #DAA520;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 1.2s, background-color 0.3s;
            -webkit-transition: transform 1.2s, background-color 0.3s;
            -moz-transition: transform 1.2s, background-color 0.3s;
            -ms-transition: transform 1.2s, background-color 0.3s;
            -o-transition: transform 1.2s, background-color 0.3s;
        }
        
        .grid-item2:hover {
            background-color: #DAA520;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 1.1s ease-in-out, background-color 1.1s ease-in-out;
            -webkit-transition: transform 1.1s ease-in-out, background-color 1.1s ease-in-out;
            -moz-transition: transform 1.1s ease-in-out, background-color 1.1s ease-in-out;
            -ms-transition: transform 1.1s ease-in-out, background-color 1.1s ease-in-out;
            -o-transition: transform 1.1s ease-in-out, background-color 1.1s ease-in-out;
        }
        
        .grid-item3:hover {
            background-color: #DAA520;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 1s, background-color 0.3s;
            -webkit-transition: transform 1s, background-color 0.3s;
            -moz-transition: transform 1s, background-color 0.3s;
            -ms-transition: transform 1s, background-color 0.3s;
            -o-transition: transform 1s, background-color 0.3s;
        }
        
        .grid-item7:hover {
            background-color: #DAA520;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.9s, background-color 0.3s;
            -webkit-transition: transform 0.9s, background-color 0.3s;
            -moz-transition: transform 0.9s, background-color 0.3s;
            -ms-transition: transform 0.9s, background-color 0.3s;
            -o-transition: transform 0.9s, background-color 0.3s;
        }
        
        .grid-item8:hover {
            background-color: #DAA520;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.8s, background-color 0.3s;
            -webkit-transition: transform 0.8s, background-color 0.3s;
            -moz-transition: transform 0.8s, background-color 0.3s;
            -ms-transition: transform 0.8s, background-color 0.3s;
            -o-transition: transform 0.8s, background-color 0.3s;
        }
        
        .grid-item9:hover {
            background-color: #DAA520;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.7s, background-color 0.3s;
            -webkit-transition: transform 0.7s, background-color 0.3s;
            -moz-transition: transform 0.7s, background-color 0.3s;
            -ms-transition: transform 0.7s, background-color 0.3s;
            -o-transition: transform 0.7s, background-color 0.3s;
        }
        
        .grid-item4:hover {
            background-color: #AEA235;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.6s, background-color 0.3s;
            -webkit-transition: transform 0.6s, background-color 0.3s;
            -moz-transition: transform 0.6s, background-color 0.3s;
            -ms-transition: transform 0.6s, background-color 0.3s;
            -o-transition: transform 0.6s, background-color 0.3s;
        }
        
        .grid-item5:hover {
            background-color: #AEA235;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.5s, background-color 0.3s;
            -webkit-transition: transform 0.5s, background-color 0.3s;
            -moz-transition: transform 0.5s, background-color 0.3s;
            -ms-transition: transform 0.5s, background-color 0.3s;
            -o-transition: transform 0.5s, background-color 0.3s;
        }
        
        .grid-item6:hover {
            background-color: #AEA235;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.4s, background-color 0.3s;
            -webkit-transition: transform 0.4s, background-color 0.3s;
            -moz-transition: transform 0.4s, background-color 0.3s;
            -ms-transition: transform 0.4s, background-color 0.3s;
            -o-transition: transform 0.4s, background-color 0.3s;
        }
        
        .grid-item10:hover {
            background-color: #AEA235;
            /* GoldenRod */
            transform: scale(1.1);
            transition: transform 0.3s, background-color 0.3s;
        }
        
        .grid-item11:hover {
            background-color: #AEA235;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.2s, background-color 0.3s;
            -webkit-transition: transform 0.2s, background-color 0.3s;
            -moz-transition: transform 0.2s, background-color 0.3s;
            -ms-transition: transform 0.2s, background-color 0.3s;
            -o-transition: transform 0.2s, background-color 0.3s;
        }
        
        .grid-item12:hover {
            background-color: #AEA235;
            /*GoldenRod*/
            transform: scale(1.1);
            transition: transform 0.3s, background-color 0.3s;
            -webkit-transition: transform 0.3s, background-color 0.3s;
            -moz-transition: transform 0.3s, background-color 0.3s;
            -ms-transition: transform 0.3s, background-color 0.3s;
            -o-transition: transform 0.3s, background-color 0.3s;
        }
        
        .merch-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            background-color: #000;
            color: #fff;
        }
        
        .merch-text {
            max-width: 50%;
        }
        
        .merch-text h1 {
            font-size: 40px;
            line-height: 1.2;
        }
        
        .highlight {
            color: #ffd700;
        }
        
        .merch-text p {
            font-size: 16px;
            line-height: 1.5;
            margin: 20px 0;
        }
        
        .wallet-button {
            background-color: #fff;
            color: #000;
            border: none;
            padding: 15px 30px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.8s ease;
            -webkit-transition: background-color 0.8s ease;
            -moz-transition: background-color 0.8s ease;
            -ms-transition: background-color 0.8s ease;
            -o-transition: background-color 0.8s ease;
        }
        
        .wallet-button:hover {
            background-color: #ffd700;
            transform: scale(1.05);
        }
        
        .merch-images {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        .image-row {
            display: flex;
            gap: 20px;
        }
        
        .merch-image img {
            object-fit: cover;
            border-radius: 10px;
        }
        
        .merch-image img {
            animation: shake 0.5s ease-in-out infinite;
        }
        
        @keyframes shake {
            0% {
                transform: rotate(-5deg) translate(-2px, -2px);
            }
            50% {
                transform: rotate(5deg) translate(2px, 2px);
            }
            100% {
                transform: rotate(-5deg) translate(-2px, -2px);
            }
        }
        
        .best-sellers-section {
            padding: 50px;
            background-color: #000;
            color: #fff;
        }
        
        .best-sellers-section h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 40px;
        }
        
        .products-container {
            display: flex;
            justify-content: space-around;
        }
        
        .product-card {
            background-color: #333;
            border-radius: 10px;
            overflow: hidden;
            width: 300px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        .product-image img {
            width: 100%;
            height: auto;
        }
        
        .product-info {
            padding: 20px;
        }
        
        .product-info .description {}
        
        .product-info h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        .product-info .price {
            font-size: 18px;
            margin-bottom: 10px;
        }
        
        .product-info .price span {
            color: #ffd700;
            font-weight: bold;
        }
        
        .product-info .description {
            font-size: 14px;
            color: #ffd700;
            text-decoration: underline;
        }
        
        .buy-section {
            background-color: #000;
            padding: 50px;
            display: flex;
            justify-content: center;
        }
        
        .products-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        
        .product-card {
            position: relative;
            width: 300px;
            overflow: hidden;
            text-align: center;
            border-radius: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        
        .product-card img {
            width: 100%;
            height: auto;
            transition: transform 0.7s;
            -webkit-transition: transform 0.7s;
            -moz-transition: transform 0.7s;
            -ms-transition: transform 0.7s;
            -o-transition: transform 0.7s;
        }
        
        .product-card:hover {
            transition: 0.7s ease-in-out;
            cursor: pointer;
            background-color: rgb(170, 145, 0);
            -webkit-transition: 0.7s ease-in-out;
            -moz-transition: 0.7s ease-in-out;
            -ms-transition: 0.7s ease-in-out;
            -o-transition: 0.7s ease-in-out;
        }
        
        .product-card:hover img,
        .product-card.hover img {
            transform: scale(1.1);
        }
        
        .product-info {
            width: 80%;
        }
        
        .product-info button {
            font-weight: bolder;
        }
        
        .buy-button {
            background-color: #fff;
            border: none;
            border-radius: 25px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .buy-button:hover {
            background-color: #f0f0f0;
        }
        
        .promo-section {
            background-color: #1a1a1a;
            color: #fff;
            padding: 6% 19%;
            border-radius: 15px;
            text-align: center;
            margin: 0px auto;
            max-width: 800px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .promo-section h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .promo-section .highlight {
            color: #ffd700;
        }
        
        .promo-section p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 30px;
        }
        
        .connect-wallet-btn {
            background-color: #fff;
            color: #000;
            border: none;
            border-radius: 50px;
            padding: 15px 30px;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }
        
        .connect-wallet-btn:hover {
            background-color: #ffd700;
            transform: scale(1.05);
        }
        
        .footer {
            background-color: #000;
            color: #fff;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .footer-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
        }
        
        .footer-left,
        .footer-center,
        .footer-right {
            flex: 1;
            margin: 0 20px;
        }
        
        .footer-logo {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .footer-logo img {
            transition: 0.7s ease-in-out;
            -webkit-transition: 0.7s ease-in-out;
            -moz-transition: 0.7s ease-in-out;
            -ms-transition: 0.7s ease-in-out;
            -o-transition: 0.7s ease-in-out;
        }
        
        .footer-logo img:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .logo-text {
            font-size: 24px;
            font-weight: bold;
            margin-right: 5px;
        }
        
        .logo-subtext {
            font-size: 18px;
            font-weight: normal;
        }
        
        .footer-description {
            font-size: 14px;
        }
        
        .footer-title {
            font-size: 18px;
            margin-bottom: 10px;
        }
        
        .footer-links {
            list-style: none;
            padding: 0;
        }
        
        .footer-links li {
            margin-bottom: 5px;
        }
        
        .footer-links a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }
        
        .footer-form {
            display: flex;
        }
        
        .footer-input {
            padding: 10px;
            font-size: 14px;
            border: none;
            border-radius: 20px;
            flex: 1;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            background-color: #161616;
            padding-left: 30px;
            position: relative;
        }
        
        .footer-button {
            padding: 10px;
            font-size: 14px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: #fff;
            color: #000;
            cursor: pointer;
            position: absolute;
            right: 6rem;
            border-radius: 20px;
            font-weight: bolder;
        }
        
        .footer-button:hover {
            transition: 0.7s ease-in-out;
            color: white;
            background-color: #DAA520;
            -webkit-transition: 0.7s ease-in-out;
            -moz-transition: 0.7s ease-in-out;
            -ms-transition: 0.7s ease-in-out;
            -o-transition: 0.7s ease-in-out;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .footer-bottom {
            margin-top: 20px;
            font-size: 12px;
            color: #666;
            text-align: center;
        }
        
        .categories-container {
            text-align: center;
            color: white;
            background-color: #111;
            padding: 20px 40px;
        }
        
        .header-category {
            display: flex;
        }
        
        .header-category button {
            padding: 15px 6rem;
            font-size: 14px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: #fff;
            color: #000;
            cursor: pointer;
            position: absolute;
            right: 10rem;
            border-radius: 30px;
            font-weight: bolder;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
        
        .button-s {
            display: flex;
        }
        
        .button-s img {}
        
        .categories-title {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .tabs {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-bottom: 30px;
            font-size: 18px;
        }
        
        .tabs span {
            cursor: pointer;
            color: #888;
            position: relative;
        }
        
        .active-tab {
            color: yellow;
            font-weight: bold;
        }
        
        .active-tab::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background: yellow;
            border-radius: 50%;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .products {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        
        .product-card {
            background: #222;
            padding: 20px;
            border-radius: 10px;
            width: 220px;
            text-align: center;
            border: 1px solid #333;
        }
        
        .product-card img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        
        .product-card h2 {
            font-size: 18px;
            margin: 10px 0;
        }
        
        .product-card p {
            font-size: 14px;
            margin: 5px 0;
        }
        
        .price {
            color: yellow;
            font-weight: bold;
        }
        
        .price-info {
            color: yellow;
            margin-bottom: 10px;
            text-decoration: underline;
        }
        
        .quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
        }
        
        .quantity-button {
            background: #444;
            border: none;
            color: white;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        
        .quantity-text {
            font-size: 16px;
            font-weight: bold;
        }
        
        .buy-button {
            background: white;
            color: black;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 5px;
        }
        
        @media (max-width: 1115px) {
            .hero-container {
                flex-direction: column;
                align-items: center;
                padding: 20px
            }
            .hero-content h1 {
                font-size: 32px;
                /* Reduce font size for better readability */
            }
        }
        
        @media (max-width: 442px) and (min-width: 302px) {
            .hero-content {
                padding: 0;
            }
        }
        
        @media (max-width: 768px) {
            .hero-image {
                flex-direction: column;
                align-items: center;
                padding: 10px;
            }
            .grid {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 10px;
            }
            .grid-item1,
            .grid-item2,
            .grid-item3,
            .grid-item4,
            .grid-item5,
            .grid-item6,
            .grid-item7,
            .grid-item8,
            .grid-item9,
            .grid-item10,
            .grid-item11,
            .grid-item12 {
                margin: 5px;
            }
        }
        
        @media (max-width: 768px) {
            .best-sellers-section {
                padding: 10px;
                text-align: center;
                overflow: hidden;
                gap: 20px;
            }
        }
        
        @media (max-width: 768px) {
            .buy-section {
                text-align: center;
            }
            .products-container {
                flex-direction: column;
                padding: 10px;
            }
        }
        
        @media (max-width: 768px) {
            .merch-container {
                flex-direction: column;
                padding: 0;
                text-align: center;
            }
            .products-container {
                justify-content: center;
                align-items: center;
            }
            .merch-image img {
                padding-top: 3rem;
            }
        }
        
        @media (max-width: 768px) {
            .footer-logo {
                justify-content: center;
            }
            .footer-content {
                flex-direction: column;
                align-items: center;
            }
            .footer-left,
            .footer-center,
            .footer-right {
                margin: 20px 0;
                text-align: center;
            }
            .footer-form {
                flex-direction: column;
                width: 100%;
            }
        }
        
        @media (min-width: 1200px) {}